#wrapper{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.button{ background-color:white;
	padding:2.5pt;
	border-style:solid;

}

h1{
	text-align: center;
	font-size: 40pt;
	color:black;
	background-color: red;
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
h2{
	text-align:center;

}
.column {
	float: left;
	width:20%; 
	padding:10px;
	/*height:300px;*/
	background-color:lightblue;
	column-count:1;
	/*border-style:solid;*/
	text-align:center;
	font-style:bold;
}
.column2 {
	float: right;
	width:20%; 
	padding:10px;
	/*height:300px;*/
	background-color:lightblue;
	column-count:1;
	padding-top:10%;
	padding-bottom:30%;
}
.row


.row:after{
	content:"";
	display:table;
	clear:both;
}
.column3{
	background-color:white;
	float:center;
	margin-left:23%;
	margin-right:23%;
	padding:5%;
}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}


